{{!-- <center>
<table>
    <th>
      {{title}}
    </th>
    <tr>
        <td>
            Name
        </td>
         <td>
            {{name}}
        </td>
    </tr>
    <tr>
        <td>
            RollNo
        </td>
         <td>
            {{roll}}
        </td>
    </tr>
    <tr>
        <td>
            Class
        </td>
         <td>
            {{clas}}
        </td>
    </tr>
    <tr>
        <td>
            Phone
        </td>
         <td>
            {{phone}}
        </td>
    </tr>
</table>
</center> --}}

<img src="images/Rhae.jpg" width="300px" height="200px">

<h1>HOUSE OF THE DRAGON</h1>
<h1>Cast</h1>

<table>
    <tr>
        <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width: 150px;">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://media.vanityfair.com/photos/63332cfebbd06de6a008fd39/master/w_2560%2Cc_limit/emma-darcy-jason-bell-portrait.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width:150px">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
        
  
  </tr>
</div>
</table>
