{{!-- <center>
<table>
    <th>
      {{title}}
    </th>
    <tr>
        <td>
            Name
        </td>
         <td>
            {{name}}
        </td>
    </tr>
    <tr>
        <td>
            RollNo
        </td>
         <td>
            {{roll}}
        </td>
    </tr>
    <tr>
        <td>
            Class
        </td>
         <td>
            {{clas}}
        </td>
    </tr>
    <tr>
        <td>
            Phone
        </td>
         <td>
            {{phone}}
        </td>
    </tr>
</table>
</center> --}}

<img src="images/dr.jpg" width="100%" height="300px">

<h1>HOUSE OF THE DRAGON</h1>
<h1>Cast</h1>

<table>
    <tr>
        <td>
            <div class="card">
            <img src="images/dae.jpg" alt="Avatar" style="width: 150px;">
            <div class="container">
            <h4><b>Matt smith</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://media.vanityfair.com/photos/63332cfebbd06de6a008fd39/master/w_2560%2Cc_limit/emma-darcy-jason-bell-portrait.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Emma d Arcy</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://images.mubicdn.net/images/cast_member/392824/cache-130950-1457025780/image-w856.jpg?size=800x" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Olivia Cooke</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://images.mubicdn.net/images/cast_member/16309/cache-705084-1629015937/image-w856.jpg?size=800x" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Paddy Considine</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://i2-prod.bristolpost.co.uk/incoming/article7418634.ece/ALTERNATES/s1200c/1_World-On-Fire.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Ewan Mitchell</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://cdn.bestmovie.it/wp-content/uploads/2022/08/GettyImages-1415163722-696x1018.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Rhys Ifans</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Eve_Best_cropped.jpg/800px-Eve_Best_cropped.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Eve Best</b></h4>
            </div>
            </div>
        </td>
         <td>
            <div class="card">
            <img src="https://images.mubicdn.net/images/cast_member/121956/cache-141458-1633032138/image-w856.jpg" alt="Avatar" style="width:150px;height:200px">
            <div class="container">
            <h4><b>Steve Toussaint</b></h4>
            </div>
            </div>
        </td>
        
  
  </tr>
</div>
</table>
